
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="/public/css/register.css">
</head>
<body>
    <div class="registration-container">
        <h2>Cadastro de Usuário</h2>
        <form id="registration-form">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>

            <label for="confirmpassword">Confirmar Senha:</label>
            <input type="password" id="confirmpassword" name="confirmpassword" required>

            <button type="submit">Cadastrar</button>
        </form>
        <p>Já tem uma conta? <a href="login.html">Faça o login</a></p>
    </div>
    <script src="/public/js/register.js"></script>
</body>
</html>