body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url('/public/image/cafe.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-image: linear-gradient(-90deg, #a15306, #574c47);
    background-color: #ffcc99;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 40px;
    margin: 0;
}

nav {
    margin: 20px;
    margin-right: 10px;
    
    
}

nav ul li {
    font-size: 25px;
    display: inline;
    margin-right: 20px;
}

nav a {
    margin-right: 8px;
    font-size: 30px;
    text-decoration: none;
    color: #000;
}

nav a:hover {
    color: #ffcc99;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(249, 249, 249, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos específicos para a página de carrinho */
.cart {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    
}

.cart-item {
    
    display: flex;
    align-items: center;
    border-bottom: 1px solid #050505;
    padding: 10px 0;
}

.cart-item img {
    max-width: 100px;
    margin-right: 10px;
}

.cart-total {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.cart-total h2 {
    margin: 0;
}

#cart-total-price {
    font-weight: bold;
    font-size: 24px;
    color: #333;
}

#checkout-button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#checkout-button:hover {
    background-color: #cc5500;
}

footer {
    text-align: center;
    background-image: linear-gradient(-90deg, #a15306, #574c47);
    background-color: #ffcc99;
    padding: 5px 0;
    position: fixed; /* Adicione esta linha */
    bottom: 0; /* Coloca o rodapé na parte inferior da janela */
    width: 100%; /* Define a largura para ocupar toda a largura da janela */
}